body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: darkblue;
}
#main-title{
    font-weight: bold;
    text-decoration: underline;
}
.intro-paragraph{
    font-style: italic;
    line-height: 1.5px;
}
.content-paragraph{
    text-transform: uppercase;
}
p::first-letter{
    font-weight: bold;
}
.color-box{
    text-shadow: 2px 2px  rgb(0,0,0,0.3);
}
.nav-link{
    color: forestgreen;
    text-decoration: none;
}